{% load static %}

<!DOCTYPE html>
<html>
    
<head>
	<title>Reset Password</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">


</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method="POST" action="">
					{% csrf_token %}
					<span class="login100-form-title p-b-20">
						Enter New Password
					</span>

					<div class="text-center p-b-15">
						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" placeholder="Password">
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Repeat password">
					</div>

					<div class="container-login100-form-btn m-t-20 m-b-15">
						<button class="login100-form-btn" type="submit" value="Update Password">
							Submit
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>