{% load static %}

<!DOCTYPE html>
<html>
    
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static '/css/register.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" method="POST" action="">
					{% csrf_token %}
					<span class="login100-form-title p-b-33">
						Register Account
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="username" placeholder="Username">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="email" name="email" placeholder="Email">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password1" placeholder="Password">
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password2" placeholder="Confirm Password">
					</div>

					<div class="container-login100-form-btn m-t-20 m-b-15">
						<button class="login100-form-btn" type="submit" value="Register">
							Create Account
						</button>
					</div>

					{% if form.errors %}
						{% for field in form %}				
							{% for error in field.errors %}
							<div class="error">
								<p class="field_label">{{field.label}}:</p>
								<p>{{ error|escape }}</p>
							</div>
							{% endfor %}
						{% endfor %}
					{% endif %}

					

					<div class="text-center p-t-15 p-b-4">
						<span class="txt1">
							Already have an account?
						</span>

						<a href="{% url 'login' %}" class="txt2 hov1">
							Login
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>

</body>

</html>